.cardElement {
    background: linear-gradient(217deg, rgba(102, 64, 133, 0.8), rgba(63, 53, 85, 0) 70.71%),
    linear-gradient(127deg, rgb(27, 27, 27), rgb(19, 19, 19) 70.71%),
    linear-gradient(336deg, rgb(19, 19, 19), rgb(19, 19, 19) 70.71%);
    
    text-align: center;
    border-radius: 16px;
    height:200px;
    position: relative;
}

.cards-list {
    background-color: rgba(15, 15, 15, 0.7);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;

}

.card-title{
    font-weight: bold;
    color: rgb(240, 240, 240);
}
.card-category{
    color: rgb(164, 168, 190); 
    /* #a4a8be */
}

/* Responsive */

@media only screen and (max-width: 577px) {
    .cards-list {
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .cards-list {
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cards-list {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .cards-list {
        grid-template-columns: repeat(3,1fr);
    }
}

.app {
    /* background-color: #1B1C20; */
    min-height: 100%;
    background-image: url('../images/Rt5ZDX.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.progress-background{
    background-color:  rgb(144, 74, 197) !important;
}


button{
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        padding:0;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
  

}
button:focus {
    outline: none !important;
}
.icon-buttons{
    position: absolute;

    bottom:14px;
}

.delete-button{
    right:14px;
}

.toggle-button{
    right:48px;
}

.icon-buttons>svg{
    
    fill: rgb(164, 168, 190); 
}

.icon-buttons:hover svg, .icon-buttons:active svg, .icon-buttons:focus svg{
    fill: rgb(144, 74, 197);
}

.icons{
    width:16px;
    height:16px;
    margin:0;
}



/* filter */
.Filter{
    background-color: rgba(119, 119, 119, 0.1);
    height:40px;
    
}

.btn-select {
    background-color: rgb(144, 74, 197) !important; 
    color: rgb(243, 243, 243) !important;
}
.btn-select:hover, .btn-select:active  {
    background-color: rgb(192, 138, 233) !important;
}

.btn-select, .drop-down{
    width: calc(25% - 12.5px)
}


@media only screen and (max-width: 767px) {
    .btn-select, .drop-down {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .btn-select, .drop-down {
        width: calc(50% - 12.5px)
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .btn-select, .drop-down {
        width: calc(33% - 12.5px)
    }
}

